 .container{
  display: flex;
  width: 100%;
}

 .container{
  position: relative;
}

 .sidebar__inner {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffdb17;
  z-index: 999;
  transition: all 0.3s ease;
}

 .sidebar__inner .logo {
  padding: 30px 50px;
}

 .sidebar__inner .logo img {
  width: 100%;
  display: block;
}

 .sidebar__inner .menu li a {
  padding: 10px 50px;
  display: block;
  position: relative;
  color: #8d948d;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
}

//  .sidebar__inner .menu li a .icon {
//   font-size: 32px;
//   margin-bottom: 5px;
// }

 .sidebar__inner .menu li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #424442;
  display: none;
}

 .sidebar__inner .menu li a:hover,
 .sidebar__inner .menu li a:target {
  background-color: #8d948d;
  color: #fff;
}

 .sidebar__inner .menu li a:hover:before,
 .sidebar__inner .menu li a:active:before {
  display: block;
}
