.container-table {
  margin: 50px 10%;
}

.card {
  border-radius: 10px;
  border: 1px solid #ffdb17;
  padding: 10px;
}

.title {
  text-align: center;
  margin-top: 60px;
  font-size: 32px;
  color: #ffdb17;
}

.container-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.rows > span,
div {
  margin: 15px 0;
}

.table-body-button {
  display: flex;
  justify-content: space-between;
}

